/SHLightGenerator/.vs
/SHLightGenerator/Temp
/SHLightGenerator/Library
/SHLightGenerator/Logs
/SHLightGenerator/obj
/SHLightGenerator/*.sln
/SHLightGenerator/*.csproj
/SHLightGenerator/Assets/Plugins/Editor/JetBrains
/SHLightGenerator/Assets/Plugins/Editor/JetBrains.meta
/SHLightGenerator/.idea
